
/* =========================================================
 *  25. order process step
/* ======================================================= */

section.order-process-step-four {
	padding-top: 20px;
	background-color: #fff;
	padding-bottom: 20px;
}
.order-process {
	margin: 0 auto;
	max-width: 930px;
}
.service-item-box.style-4 a {
	float: left;
	width: 46px;
	height: 46px;
	line-height: 46px;
	margin-right: 20px;
	text-align: center;
	background-color: #EA745D;
	color: #fff;
	-webkit-border-radius: 46px;
	border-radius: 46px;
}

.service-item-box.style-4 i {
	width: auto;
	height: auto;
	line-height: 46px;
	font-size: 20px;
}

.service-item-box.style-4 h3 {
	font-size: 14px;
	margin-top: 15px;
	margin-bottom: 0;
	font-weight: normal;
}
/* =========================================================
 *  End order process step
/* ======================================================= */


/* ====================================================
 *  34. how to order/order process
/* ==================================================== */

.process-block {
	display: block;
	color: #7e8890;
  overflow: hidden;
	width: 85%;
	margin-top: -30px;
}
.process-block h5 {
	text-align: center;
	margin-top: -10px;
	font-style: italic;
	margin-bottom: 20px;
}
ol.process {
	margin-top: 20px;
	margin-left: 32px;
	padding: 0;
	list-style-type: none;
	counter-reset: li-counter;
}
ol.process > li {
	position: relative;
	text-align: center;
	padding: 15px;
	border-radius: 5px;
}
ol.process > li > p {
	font-style: italic;
}
ol.process > li:before {
	position: absolute;
	left: -18px;
	top: -18px;
	font-size: 22px;
	display: inline-block;
	line-height: 36px;
	width: 36px;
	text-align: center;
	border-radius: 35px;
	color: #fff;
	font-weight: 700;
	background-color: #595f66;
	box-shadow: 0 0 0 1px #fff;
	content: counter(li-counter);
	counter-increment: li-counter;
}
ol.process li:nth-child(even) {
	border-top: 1px dashed #7e8890;
}
ol.process li:nth-child(odd) {
	border: 1px dashed #7e8890;
	border-top: 0;
}
ol.process i {
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
	line-height: 150px;
	font-size: 4em;
	color: #7e8890;
	border-radius: 50%;
}
ol.process h4{
	font-size:18px;
}
section.order-process-step {
	padding: 70px 0;
	background-image: url(../img/pattern/giftly.png);
}

/*icon-hover-animation*/

@-webkit-keyframes pulse-shrink {
	to {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
}
@keyframes pulse-shrink {
	to {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
}
ol.process li:hover i,
ol.process li:focus i,
ol.process li:active i {
	-webkit-animation-name: pulse-shrink;
	animation-name: pulse-shrink;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
}
.introduction {
	text-align: center;
	padding: 10px 25px
}
.service-block {
	padding: 10px;
	display: block;
	text-align: center;
}
.service-block-icon {
	position: relative;
	display: block;
	margin: 5px auto;
	width: 120px;
	height: 120px;
	background: #5bc0de;
	color: #fff;
	font-size: 60px;
	text-align: center;
	line-height: 110px;
	border-radius: 50%;
}
.service-block-icon .badge {
	position: absolute;
	background: #595f66;
	border-radius: 3px;
	padding: 5px 10px;
	text-transform: uppercase;
	font-weight: 400;
}
.service-block-icon .badge:after {
	content: "";
	position: absolute;
	bottom: -8px;
	left: 10px;
	border-style: solid;
	border-width: 8px 6px 0;
	border-color: #595f66 transparent;
	display: block;
	width: 0;
	z-index: 1;
}
.service-block-icon .badge p.qty {
	font-size: 2em;
	margin: 0;
	margin-bottom: 3px;
	font-weight: 800;
}
.clients-block {
	padding: 0 30px;
}
.process-block h2,
.factage-block h2,
.main-page-blog-posts h2,
.skills-block h2,
.clients-block h2,
.simple-testimonials h2,
.team-block h2 {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	font-style: normal;
	text-align: center;
	letter-spacing: 3px;
	font-weight: 800;
	font-size: 1.6em;
	text-transform: uppercase;
}
.clients-block .client-logo {
	border-radius: 50%;
	margin-bottom: 10px;
	transition: background .4s;
}
.clients-block .client-logo:hover {
	background: rgba(0,0,0,.1);
}
