@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello-40365000.eot');
  src: url('../fonts/fontello-40365000.eot#iefix') format('embedded-opentype'),
       url('../fonts/fontello-40365000.woff2') format('woff2'),
       url('../fonts/fontello-40365000.woff') format('woff'),
       url('../fonts/fontello-40365000.ttf') format('truetype'),
       url('../fonts/fontello-40365000.svg#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello-40365000.svg#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-bag:before { content: '\e800'; } /* '' */
.icon-user-add:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-book-open:before { content: '\e803'; } /* '' */
.icon-calendar-circled:before { content: '\e804'; } /* '' */
.icon-calendar:before { content: '\e805'; } /* '' */
.icon-certificate:before { content: '\e806'; } /* '' */
.icon-bell:before { content: '\e807'; } /* '' */
.icon-check:before { content: '\e808'; } /* '' */
.icon-login:before { content: '\e809'; } /* '' */
.icon-hourglass:before { content: '\e80a'; } /* '' */
.icon-calendar-1:before { content: '\e80b'; } /* '' */
.icon-cog:before { content: '\e80c'; } /* '' */
.icon-heart:before { content: '\e80d'; } /* '' */
.icon-phone:before { content: '\e80e'; } /* '' */
.icon-mail:before { content: '\e80f'; } /* '' */
.icon-plus-circled:before { content: '\e810'; } /* '' */
.icon-clock:before { content: '\e811'; } /* '' */
.icon-twitter:before { content: '\e812'; } /* '' */
.icon-twitter-circled:before { content: '\e813'; } /* '' */
.icon-facebook:before { content: '\e814'; } /* '' */
.icon-facebook-circled:before { content: '\e815'; } /* '' */
.icon-facebook-squared:before { content: '\e816'; } /* '' */
.icon-gplus:before { content: '\e817'; } /* '' */
.icon-gplus-circled:before { content: '\e818'; } /* '' */
.icon-paypal:before { content: '\e819'; } /* '' */
.icon-thumbs-up:before { content: '\e81a'; } /* '' */
.icon-thumbs-down:before { content: '\e81b'; } /* '' */
.icon-cancel-circled:before { content: '\e81c'; } /* '' */
.icon-plus:before { content: '\e81d'; } /* '' */
.icon-minus:before { content: '\e81e'; } /* '' */
.icon-minus-circled:before { content: '\e81f'; } /* '' */
.icon-info:before { content: '\e820'; } /* '' */
.icon-lock:before { content: '\e821'; } /* '' */
.icon-lock-open:before { content: '\e822'; } /* '' */
.icon-bell-1:before { content: '\e823'; } /* '' */
.icon-down-circled:before { content: '\e824'; } /* '' */
.icon-left-circled:before { content: '\e825'; } /* '' */
.icon-right-circled:before { content: '\e826'; } /* '' */
.icon-up-circled:before { content: '\e827'; } /* '' */
.icon-location:before { content: '\e828'; } /* '' */
.icon-address:before { content: '\e829'; } /* '' */
.icon-paper-plane:before { content: '\e82a'; } /* '' */
.icon-print:before { content: '\e82b'; } /* '' */
.icon-comment:before { content: '\e82c'; } /* '' */
.icon-instagram:before { content: '\e82d'; } /* '' */
.icon-chart-line:before { content: '\e82e'; } /* '' */
.icon-home:before { content: '\e82f'; } /* '' */
.icon-tools:before { content: '\e830'; } /* '' */
.icon-basket:before { content: '\e831'; } /* '' */
.icon-star:before { content: '\e832'; } /* '' */
.icon-star-empty:before { content: '\e833'; } /* '' */
.icon-heart-empty:before { content: '\e834'; } /* '' */
.icon-search:before { content: '\e835'; } /* '' */
.icon-map:before { content: '\e836'; } /* '' */
.icon-network:before { content: '\e837'; } /* '' */
.icon-cloud-thunder:before { content: '\e838'; } /* '' */
.icon-cloud:before { content: '\e839'; } /* '' */
.icon-globe:before { content: '\e83a'; } /* '' */
.icon-up-dir:before { content: '\e83b'; } /* '' */
.icon-right-dir:before { content: '\e83c'; } /* '' */
.icon-down-dir:before { content: '\e83d'; } /* '' */
.icon-left-dir:before { content: '\e83e'; } /* '' */
.icon-up:before { content: '\e83f'; } /* '' */
.icon-right:before { content: '\e840'; } /* '' */
.icon-left:before { content: '\e841'; } /* '' */
.icon-down:before { content: '\e842'; } /* '' */
.icon-down-bold:before { content: '\e843'; } /* '' */
.icon-left-bold:before { content: '\e844'; } /* '' */
.icon-right-bold:before { content: '\e845'; } /* '' */
.icon-up-bold:before { content: '\e846'; } /* '' */
.icon-left-open-mini:before { content: '\e847'; } /* '' */
.icon-right-open-mini:before { content: '\e848'; } /* '' */
.icon-up-open-mini:before { content: '\e849'; } /* '' */
.icon-down-open-big:before { content: '\e84a'; } /* '' */
.icon-left-open-big:before { content: '\e84b'; } /* '' */
.icon-right-open-big:before { content: '\e84c'; } /* '' */
.icon-up-open-big:before { content: '\e84d'; } /* '' */
.icon-upload-cloud:before { content: '\e84e'; } /* '' */
.icon-download:before { content: '\e84f'; } /* '' */
.icon-upload:before { content: '\e850'; } /* '' */
.icon-export:before { content: '\e851'; } /* '' */
.icon-plus-squared:before { content: '\e852'; } /* '' */
.icon-cancel-squared:before { content: '\e853'; } /* '' */
.icon-minus-squared:before { content: '\e854'; } /* '' */
.icon-menu:before { content: '\e855'; } /* '' */
.icon-key:before { content: '\e856'; } /* '' */
.icon-dot-3:before { content: '\e857'; } /* '' */
.icon-heart-1:before { content: '\e858'; } /* '' */
.icon-bicycle:before { content: '\e859'; } /* '' */
.icon-location-1:before { content: '\e85a'; } /* '' */
/* Localized */